<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Transaction List</title>
</head>
<body>
<h1>Transaction List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Type</th>
        <th>User</th>
        <th>Budget</th>
        <th>Category</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${#dates.format(transaction.date, 'yyyy-MM-dd')}"></td> <!-- Форматируем дату -->
        <td th:text="${transaction.description}"></td>
        <td th:text="${transaction.type}"></td>
        <td th:text="${transaction.user.name}"></td> <!-- Отображаем имя пользователя -->
        <td th:text="${transaction.budget.name}"></td> <!-- Отображаем имя бюджета -->
        <td th:text="${transaction.category.name}"></td> <!-- Отображаем имя категории -->
    </tr>
</table>
</body>
</html>
